
.icon-home-outline:before { content: '\e800'; } /* '' */
.icon-dollar:before { content: '\e801'; } /* '' */
.icon-up:before { content: '\e802'; } /* '' */
.icon-cafe:before { content: '\e80c'; } /* '' */
.icon-restaurant:before { content: '\e832'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-bicycle:before { content: '\f206'; } /* '' */